.idea
.DS_Store

PreviousProjects.html
files/ActiveDocumentation-1-sourcecode.zip
files/ActiveDocumentationPlugin.V1.zip
files/ActiveDocumentationScreenShot.png
files/CrowdCoding-UserStudy-ActiveDocumentation.zip
files/StudyMaterial.zip
files/active-doc-client-1.0.zip
files/survey.pdf